@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h1>User Accounts</h1>

<div class="content">
  @if (User.Identity.IsAuthenticated)
  {
      <p>You are logged in as @User.Identity.Name</p>
      @using (Html.BeginForm("LogOff", "Account"))
      {
          <input type="submit" class="btn" value="Log out" />
      }
  }
</div>

<div class="links">
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
</div>
