@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h1>Add a treat to @Model.Name</h1>


<div class="content">
  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.FlavorId)

      @Html.Label("Select treat")
      @Html.DropDownList("TreatId")

      <input type="submit" value="Save" class="btn"/>
  }
</div>